.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff; 
    margin-top: 128px;
    flex-wrap: wrap;
}

.footer-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer-logo {
    width: 150px; 
    margin-bottom: 20px;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-link {
    margin-bottom: 5px;
    color: #333; 
    text-decoration: none;
    cursor: pointer;
}

.footer-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .footer-section {
        width: 100%;
        align-items: flex-start;
    }

    .footer-logo {
        margin-bottom: 10px;
    }
}
